<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.lvbo.learn.spring.boot.mmh.dao.hbase.RoleMapper" >
    <resultMap id="BaseResultMap" type="io.github.lvbo.learn.spring.boot.mmh.model.Role" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM role
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM role
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="io.github.lvbo.learn.spring.boot.mmh.model.Role" >
       UPSERT INTO
       		role
       		(id, name)
       	VALUES
       		(#{id}, #{name})
    </insert>
    
    <update id="update" parameterType="io.github.lvbo.learn.spring.boot.mmh.model.Role" >
        UPSERT INTO
        role
        (id, name)
        VALUES
        (#{id}, #{name})
    </update>
    
    <delete id="delete" parameterType="Long" >
       DELETE FROM
       		 role
       WHERE 
       		 id =#{id}
    </delete>

</mapper>