<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.lvbo.learn.spring.boot.mmh.dao.mysql.UserMapper" >
    <resultMap id="BaseResultMap" type="io.github.lvbo.learn.spring.boot.mmh.model.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="user_sex" property="userSex" javaType="io.github.lvbo.learn.spring.boot.mmh.enums.UserSexEnum"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, user_name, pass_word, user_sex, nick_name
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM users
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="io.github.lvbo.learn.spring.boot.mmh.model.User" >
       INSERT INTO 
       		users
       		(user_name,pass_word,user_sex, nick_name)
       	VALUES
       		(#{userName}, #{passWord}, #{userSex}, #{nickName})
    </insert>
    
    <update id="update" parameterType="io.github.lvbo.learn.spring.boot.mmh.model.User" >
       UPDATE 
       		users 
       SET 
       	<if test="userName != null">user_name = #{userName},</if>
       	<if test="passWord != null">pass_word = #{passWord},</if>
       	nick_name = #{nickName}
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="Long" >
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>